<div class="row">
	<div class="col-lg-4"></div>
	<div class="col-lg-4">
		<%= simple_form_for(@question) do |f| %>
		  <%= f.error_notification %>

		  <div class="form-inputs">
		    <%= f.input :name %>
		    <%= f.input :answer_a %>
		    <%= f.input :answer_b %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit,'Save',class:'btn-primary' %>
			<%= link_to 'Back', questions_path, class:'btn btn-primary' %>
		  </div>
		<% end %>
	</div>
	<div class="col-lg-4"></div>
</div>		
