<p id="notice"><%= notice %></p>

<h1>Learner Styles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @learner_styles.each do |learner_style| %>
      <tr>
        <td><%= learner_style.name %></td>
        <td><%= link_to 'Show', learner_style %></td>
        <td><%= link_to 'Edit', edit_learner_style_path(learner_style) %></td>
        <td><%= link_to 'Destroy', learner_style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Learner Style', new_learner_style_path %>
