 <li class="nav-item"><%= link_to 'Learner Styles', learner_styles_path, class: 'nav-link' %></li>
 
 <li class="nav-item"><%= link_to 'LDS', learner_dimension_scales_path, class: 'nav-link' %></li>
 <li class="nav-item"><%= link_to 'Questions', questions_path, class: 'nav-link' %></li>
 <li class="nav-item"><%= link_to 'New Course', new_course_path, class: 'nav-link' %></li>
 <li class="nav-item"><%= link_to 'Courses', courses_path, class: 'nav-link' %></li>

 <li class="nav-item"><%= link_to 'Objectives', objectives_path, class: 'nav-link' %></li>