<nav class="navbar  navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">IDEL</a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <% current_user_role = current_user.role.name%>
      <% if current_user_role=='admin'%>
        <%=render 'shared/admin_links'%>
      <%elsif current_user_role=='teacher'%>
        <%=render 'shared/teacher_links'%>
      <%else%>
        <%=render 'shared/student_links'%>
      <%end%>
      <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome! <%=print_user_name_with_style(current_user)%><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>&nbsp;&nbsp;&nbsp;<%= link_to 'Sign out', destroy_user_session_path, method: :delete%></li>
          </ul>
        </li>
      <% else %>
      <li class="nav-item"><%= link_to 'Sign Up',new_user_registration_path, class: 'nav-link' %></li><li class="nav-item "><%= link_to 'Sign in',new_user_session_path, class: 'nav-link' %></li>
      <% end %>
    </ul>
  </div>
</nav>