<div class="container">
<h2>Courses</h2>


<%= link_to 'New Course', new_course_path, class:'btn btn-primary pull-8' %><br>
<hr>

<div class="row">
  <% @courses.each do |course| %>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
      <h3 class="card-title"><%=course.name%></h3>
        <p class="card-text"><%=course.course_objective%></p>
        <%= link_to 'Show', course ,class:'btn btn-primary btn-sm'%>
        <%= link_to 'Delete', course, method: :delete, data: { confirm: 'Are you sure?' },
        class:'btn btn-primary btn-sm' if current_user.role.name == 'admin'%>
        <%= link_to 'Add Objectives', new_objective_path(id:course.id) ,class:'btn btn-primary btn-sm'%>
      </div>
    </div>
  </div>
  <%end%>
</div>
</div>