
<div class="container"> 

  <p>
    <strong>Name:</strong>
    <%= @course.name %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= @course.duration %>
  </p>

  <p>
    <strong>Audience:</strong>
    <%= @course.audience %>
  </p>

  <p>
    <strong>Course objective:</strong>
    <%= @course.course_objective %>
  </p>

  <p>
    <strong>No of objective:</strong>
    <%= @course.no_of_objective %>
  </p>

  <p>
    <strong>Session:</strong>
    <%= @course.session %>
  </p>

  <p>
    <strong>Skill based:</strong>
    <%= @course.skill_based %>
  </p>

  <p>
    <strong>Knowledge based:</strong>
    <%= @course.knowledge_based %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @course.user.get_full_name %>
  </p>

  <p>
    <strong>Learner style:</strong>
    <%= @course.learner_style.name %>
  </p>
  <p>
    <strong>Course Content:</strong>
    <%= @course.file_file_name %>
  </p>

  <p>
    <strong>Course :</strong>
    <%#= video_tag "#{@course.file.url}", :size => "320x240", :controls => true %>

    <%#= @course.file_file_name: %>
  </p>
  <%# show objectives %>
  <%if @course.objectives.present?%>
    <% @course.objectives.each do |objective|%>
    <p>
    <strong>Objective Name:</strong>
      <%=objective.name%>
    </p>
    <%if objective.lessons.present?%>
      <%objective.lessons.each_with_index do |lesson,index|%>
        <p>
          <strong><%=index+1%> Lesson Name:</strong>
          <%=lesson.name%> <span> <%=link_to 'Start',objective_lesson_path(objective_id:objective.id,id:lesson.id) %></span>
        </p>
      <%end%>
    <%end%>
   <%end%> 
  <%end%>
  
 <%if current_user.role.name!='student'%>
    <%= link_to 'Edit', edit_course_path(@course) %> |
    <%= link_to 'Back', courses_path %>
  <%else%>
    <%= link_to 'Back', root_path %>
  <%end%>
</div>