<!DOCTYPE html>
<html>
  <head>
    <title>Idel</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Simple Line Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/header'%>
  <% if notice.present?%>
  	<div class="alert alert-success"><%= notice %></div>
  <% end%>
  <% if alert.present?%>
  	<div class="alert alert-danger"><%= alert %></div>
  <%end%>
    <%= yield %>
  </body>
</html>
